<div>
  <div class="mb-3">
    <div class="form-group">
      <label style="float: left;" for="startDate">Başlangıç tarihi: </label>
      <input style="float: right;" type="date" id="startDate" (change)="calculatePrice()" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
    </div>
    <br>
  </div>
  <div class="mb-3">
    <div>
      <label style="float: left;" for="endDate">Bitiş tarihi: </label>
      <input style="float: right;" type="date" id="endDate" (change)="calculatePrice()" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
    </div>
    <br>
  </div>
  <div class="mb-3">
    <p style="float: left;" *ngIf="endDate && startDate" >Toplam ücret: {{rentPrice | currency:"TRY":"symbol-narrow":"1.2-2"}}</p>
    <button *ngIf="endDate && startDate && rentPrice>0" (click)="addRental()" type="button"
      class="btn btn-success" style="float: right;" >Kirala
    </button>
  </div>
</div>

