<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div>
  <div class="mb-3" >
    <label for="formGroupExampleInput" class="form-label"></label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="formGroupExampleInput" placeholder="Araba ara">
  </div>
  <div *ngIf="filterText.length>2" class="alert-primary">
    {{filterText}} için arama sonuçları.
  </div>
  <div class="row" *ngIf="dataLoaded==true">
    <div *ngFor="let cardetail of carDetails | carFilter:filterText" class="card" style="width: 20rem;">
      <img src="{{imageBasePath}}/{{cardetail.imagePath}}" class="card-img-top" alt="{{cardetail.description}} Image" width="auto" height="auto">
      <div  class="card-body">
        <h5 class="card-title">{{cardetail.brandName}} {{cardetail.description}} {{cardetail.modelYear}}</h5>
      </div >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka: {{cardetail.brandName}}</li>
        <li class="list-group-item">Renk: {{cardetail.colorName}}</li>
        <li class="list-group-item">Model Yılı: {{cardetail.modelYear}}</li>
        <li class="list-group-item">Fiyat: {{cardetail.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"}} </li>
      </ul>
      <div class="card-body">
        <section class="d-grid gap">
          <button routerLink="/car/details/{{cardetail.carId}}" type="button" class="btn btn-primary">Detaylar</button>
        </section>
        <!-- <section style="float: right">
          <button data-bs-toggle="modal" data-bs-target="#rentalModal" type="button" class="btn btn-primary" >Kirala</button>
      <div class="modal fade" id="rentalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Kirala</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-rental [cars]="cardetail"></app-rental>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        </section> -->
      </div>
    </div>
  </div>
</div>

  