<div class="card-header text-center">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner  d-flex "
       style="height: 50vh; min-height: 20rem; max-height: 30rem">

        <div *ngFor="let image of carImage; index as i; first as firstImage"
        
        class="carousel-item align-self-center"
          [ngClass]="{ active: firstImage }"
        style="height: 100%; width: 100%">
           <img
        src="{{imageBasePath}}{{image.imagePath}}"
        class=""
        style="height: 100%; width: 100%; object-fit: contain"
        alt="imageUrl + image.imagePath"
      />
        </div>
       
        <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
  <div style="text-align:center"  aria-current="true" *ngIf="carDetail"><h4>
      {{carDetail.brandName}} {{carDetail.description}}
  </h4></div>
<table class="table">
 
  <thead>
      <tr>
          <th>Id</th>
          <th>Marka</th>
          <th>Renk</th>
          <th>Model Yılı</th>
          <th>Fiyat</th>
          <th>Açıklama</th> 

      </tr>
  </thead>
  <tr *ngIf="carDetail" >
      <td>{{carDetail.carId}} </td>
      <td>{{carDetail.brandName}}</td>
      <td>{{carDetail.colorName}}</td>
      <td>{{carDetail.modelYear}}</td>
      <td>{{carDetail.dailyPrice}}</td>
      <td>{{carDetail.description}}</td>
      
  </tr>
  </table>
  
